#cabe {
    background-color:#000;
}

#header {
    margin:auto;
    width:700px;
    font-family:Arial, Helvetica, sans-serif;
}

#logt {
    
}

ul, ol {
    list-style:none;
}

.nav > li {
    float:left;
    text-align: left;
}

.nav li a {
    background-color:#000;
    /*color:#fff;
    text-decoration:none;
    padding:10px 12px;*/
    height: 40px;
    width: 150px;
    display:block;
}

.nav li a:hover {
    text-decoration-color: none;
    background-color:black;
}

.nav li ul {
    display:none;
    position:absolute;
    min-width:140px;
}

.nav li:hover > ul {
    display:block;
}

.nav li ul li {
    position:relative;
}

.nav li ul li ul {
    right:-140px; 
    bottom: auto;
    top:0px;
    
}
